* {
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
}

main{
    height: calc(100% - 60px - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

main .container figure {
height: 92px;
}

main .container figure img {
    height: 100%;
}

main .container p {
color: rgb(200, 36, 36);
font-size: small;
}

main .container .Searcher-buttons {
    display: flex;
    gap: 10px;
}

main .container .Searcher-buttons button {
border: none;
border-radius: 4px;
background-color: #a61d1d;
padding: 12px;
color: rgb(0, 0, 0);
}

main .container .Searcher {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 12px;
    height: 40px;
    width: 420px;
    border: 1px solid rgb(164, 20, 20);
    border-radius: 24px;
}

main .container .Searcher input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: rgb(119, 24, 24);
}

.search-logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(assets/search-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.micro-logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(assets/micro-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.camera-logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(assets/camera-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .container .Searcher button {
    background-color: transparent;
    border: none;
}

.icon-buscador{
    /*
    usamos display inline block porque queremos que estén pegaditos la parte de inline y block para que las propiedades de width y heigth sigan haciend efecto y hagn mi icono pequeño
    */
    display: inline-block;
    width: 24px;
    height: 24px;
}

ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    /* padding: 8px; */
    /* padding: 8px 24px; */
    /* padding: 8px 24px 40px 60px; */
    padding: 4px;
}

footer ul {
    display: inline-block;
    margin: 15px 12px;
}

footer ul li {
    display: inline;
    /* padding: 8px; */
    /* padding: 8px 24px; */
    /* padding: 8px 24px 40px 60px; */
    padding: 15px;
}

header {
    height: 8vh;
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    height: auto;
}

.btn-buscador{
    border: black solid 1px;
}

#input-buscador {
    outline: none;
    border: none;
}
/*

main {
    height: ;
}

align text

float

unidades de medida



*/